<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
    <img id="brand-logo" src="assets/images/logo.png">
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" href="">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/app">Tool</a>
      </li>
    </ul>
  </div>
</header>