/* You can add global styles to this file, and also import other style files */
#brand-logo {
    width: 40px;
}
.bd-navbar {
    min-height: 4rem;
    background-color: #671528;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.control-panel{
    background-color: #caacb18c;
}
.control-panel .form-control-file{
    overflow-y: hidden;
}
.work-area {
    background: url("assets/images/bg-transparent.png");
    border: 0px solid #ccc;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 500px;
}
.work-area .frame {
    position: absolute;
    margin: 0;
    border: 1px solid red;
    background-color: rgba(255,0,0,.07);
    height: 20px;
    width: 20px;
}
.tabset ul, .tabset div {
    background: #fff;
}