/* You can add global styles to this file, and also import other style files */
#brand-logo {
    width: 40px;
}
.bd-navbar {
    min-height: 4rem;
    background-color: #671528;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.control-panel{
    background-color: #caacb18c;
}
.control-panel .form-control-file{
    overflow-y: hidden;
}
.work-area {
    background: url("./assets/images/bg-transparent.png");
    border: 0px solid #ccc;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 500px;
}
.work-area .frame {
    position: absolute;
    margin: 0;
    border: 1px solid red;
    background-color: rgba(255,0,0,.07);
    height: 20px;
    width: 20px;
}
.tabset ul, .tabset div {
    background: #fff;
}
section {
    padding: 8rem 0;
}
.bg-primary, .btn-primary {
    background-color: #671528!important;
    border-color: #671528!important;
}
.bg-dark {
    background-color: #212529!important;
}
a {
    color: #c39da6;
}
a:hover{
    color: #671528;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #671528!important;
    border-color: #671528!important;
}

.icon-cp {
    position: absolute;
 height: 30px;
 width: 28px;
 background: url('assets/images/sprite-my-icons.png') no-repeat -2px -1px;
   }
   
.icon-css {
    position: absolute;
    height: 29px;
    width: 29px;
    background: url('assets/images/sprite-my-icons.png') no-repeat -31px -1px;
   }

   .icon-home {
    position: absolute;
    height: 29px;
 width: 29px;
 background: url('assets/images/sprite-my-icons.png') no-repeat -61px -1px;
   }
   
.icon-tool {
    position: absolute;
    height: 29px;
 width: 29px;
 background: url('assets/images/sprite-my-icons.png') no-repeat -1px -31px;
   }
   
.icon-doc {
    position: absolute;
    height: 29px;
 width: 29px;
 background: url('assets/images/sprite-my-icons.png') no-repeat -31px -32px;
   }
   
.icon-sass {
    position: absolute;
    height: 29px;
 width: 38px;
 background: url('assets/images/sprite-my-icons.png') no-repeat -61px -31px;
   }