header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("assets/images/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #671528;
}
hr.light {
    border-color: #fff;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
}